.container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: palevioletred;
    border: 2px solid maroon;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}
